<%= erb :header%>
<% if !current?("/") %>
	<h1><%= @title || "InvestI" %></h1>
<% end %>
<div> 
	<div class="notice">
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<%end%>
	</div>
	<%= yield %>
</div>
<%= erb :footer%>