<%= erb :header%>
<% if !current?("/") %>
	<h1><%= @title || "InvestI" %></h1>
<% else %>
  <center><h1><%= @title || "InvestI" %></h1></center>
<% end %>
	<div class="notice">
		<% if flash[:notice] %>
			<p class="notice"><%= flash[:notice] %></p>
		<%end%>
		<% else if flash[:error] %>
			<p class="error"><%= flash[:error] %></p>
		<%end%>
	</div>
	<%= yield %>
<%= erb :footer%>