<%= erb :header%>
    <h1><%= @title || "InvestI" %></h1>
    <div> 
    	<div class="notice">
    		<% if flash[:notice] %>
    			<%= flash[:notice] %>
    		<%end%>
    	</div>
      <%= yield %>
    </div>
<%= erb :footer%>