	<label for="email">Email:</label>
	<input type="text" name="rUser[email]" value="<%=@rUser.email if @rUser.email%>" placeholder="Email" ><br><br>

	<label for="firstName">First Name:</label>
	<input type="text" name="rUser[firstName]" value="<%=@rUser.firstName%>" placeholder="FirstName" ><br><br>

	<label for="lastName">Last Name:</label>
	<input type="text" name="rUser[lastName]" value="<%=@rUser.lastName%>" placeholder="LastName" ><br><br>

	<label for="rUsername">Username:</label>
	<input type="text" name="rUser[Username]" value="<%=@rUser.Username%>" placeholder="Username" ><br><br>

	<label for="password">Password:</label>
	<input type="password" name="rUser[password]" value="<%=@rUser.password%>" placeholder="Password" ><br><br>

	<input type="submit" value="Submit">
</form>